<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="connection" value="Max Pool Size=256;Min Pool Size=10;Pooling=true;Data Source=LAPTOP-NJU1JDGC;Initial Catalog=WareHouse;User ID=murray;Password=123456" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Database;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DatabaseConnectionString2" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Database;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DatabaseConnectionString3" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Database;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="WarehouseConnectionString" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Warehouse;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="WarehouseConnectionString2" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Warehouse;User ID=murray;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="WarehouseConnectionString3" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Warehouse;User ID=murray;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="WarehouseConnectionString4" connectionString="Data Source=LAPTOP-VOKC3UU6;Initial Catalog=Warehouse;User ID=murray;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <siteMap>
      <providers>
        <add name="site1" type="System.Web.XmlSiteMapProvider" siteMapFile="~Web.sitemap"/>
        <add name="site2" type="System.Web.XmlSiteMapProvider" siteMapFile="~Web1.sitemap"/>
        <add name="site3" type="System.Web.XmlSiteMapProvider" siteMapFile="~Mysite.sitemap"/>
      </providers>
    </siteMap>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages> 
    <httpRuntime maxRequestLength="2048000" executionTimeout="600"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->

 
</configuration>